cmake-build-debug/
cmake-build-release/
.idea/
cmake-build-debug-coverage/
/benchmarks/iscas85/c17.bench
/benchmarks/iscas85/c499.bench
/benchmarks/iscas85/c880.bench
/benchmarks/iscas85/c1355.bench
/benchmarks/iscas85/c1908.bench
/benchmarks/iscas85/c2670.bench
/benchmarks/iscas85/c5315.bench
/benchmarks/iscas85/c6288.bench
/benchmarks/iscas85/c7552.bench
/results/results_c432/dot/223.dot
/results/results_c432/dot/329.dot
/results/results_c432/dot/370.dot
/results/results_c432/dot/421.dot
/results/results_c432/dot/430.dot
/results/results_c432/dot/431.dot
/results/results_c432/dot/432.dot
/results/results_c3540/dot/1713.dot
/results/results_c3540/dot/1947.dot
/results/results_c3540/dot/3195.dot
/results/results_c3540/dot/3833.dot
/results/results_c3540/dot/3987.dot
/results/results_c3540/dot/4028.dot
/results/results_c3540/dot/4145.dot
/results/results_c3540/dot/4589.dot
/results/results_c3540/dot/4667.dot
/results/results_c3540/dot/4815.dot
/results/results_c3540/dot/4944.dot
/results/results_c3540/dot/5002.dot
/results/results_c3540/dot/5045.dot
/results/results_c3540/dot/5047.dot
/results/results_c3540/dot/5078.dot
/results/results_c3540/dot/5102.dot
/results/results_c3540/dot/5120.dot
/results/results_c3540/dot/5121.dot
/results/results_c3540/dot/5192.dot
/results/results_c3540/dot/5231.dot
/results/results_c3540/dot/5360.dot
/results/results_c3540/dot/5361.dot
/results/results_c432/BNode_BDD.csv
/results/results_c3540/BNode_BDD.csv
